name: front test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Use Node.js
      uses: actions/setup-node@v2
      with: 
        node-version: "14.x"

    - name: Install dependencies
      run: cd Front && npm install
      
    - name: Run test with coverage
      run: cd Front && npm run coverage
  
  cypress-run:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Run blog test
      uses: cypress-io/github-action@v1
      with:
        start: npm start
        wait-on: 'http://localhost:3000'
        config: baseUrl=https://localhost:3000